# Editor directories and files
.idea
.vscode

# Package Manager
node_modules
logger
uni_modules
.pnpm-debug.log*
.pnpm-store
pnpm-lock.yaml

# System
.DS_Store
unpackage
app-web
uniapp

# Bundle
dist
main/spa/dist
main/spa/static

# local env files
*.local
.history
main/spa/npminstall-debug.log
main/spa/.env.development
main/spa/logger/app.log
